html{
    background-color: rgb(233, 239, 245);
    font-style: Arial;
    font-size: 16px;
}


#cont-header{
    margin: 0 auto;
    height: 350px;
    background-color: #3b5598;
    width: 850px;
    box-sizing: border-box;
}

main{
    margin: 0 auto;
    width: 850px;
}


#navbar1{
    float: right;
    margin-top: 90px;
    margin-right: 10px;
}


.ul-navbar1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}


.navbar1{
    float: left;
}


.navbar1 a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
} 


.navbar1 a:hover{
    background-color:grey;
}


.ul-navbar2{
  list-style-type: none;
  margin: 0;
  padding-left: 180px;
  overflow: hidden;
  background-color: rgb(155, 155, 155);
}


.navbar2{
    float: left;
}


.navbar2 a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 


.navbar2 a:hover{
    background-color: #111;
}


#navbar2{
    height: 40px;
    margin-top: 135px;
    margin-bottom: 10px;
}

.profile-photo{
    width: 150px;
    height: 150px;
}

#foto-de-perfil{
    position: relative;
    top: 160px;
    left: 15px;
    width: 150px;
    height: 150px;
    border: solid 1px whitesmoke;
    box-shadow: 0px 0px 5px white;
}

.like{
    position: absolute;
    box-sizing: content-box;
    margin-left: 500px;
    margin-top: 90px;
    list-style-type: none;
    overflow: hidden;
    background-color: #CCC;
    padding: 10px 16px;
    text-align: center;
    color: white;
}

.like:hover{
    background-color: grey;
}
#collum-left{
    box-sizing: border-box;
    width: 320px;
    margin-right: 10px;
    position: absolute;
    float: left;
    top: 350px;
}

#collum-right{
    position: relative;
    float: right;
    box-sizing: border-box;
    width: 512px;
}
#boxout-cover-photo{
    clear: both;
    margin-top: 10px;
    position: relative;
    background-color: white;
    width: 512px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.box-blue{
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    background-color: #4a6aad;
}

.page-name{
    display: inline-block;
    padding-top: 5px;
    text-decoration: none;
}

.box{
    margin: 15px 3px 0px 3px;
    background-color: #4764a3;
    height: 220px;
    width: 506px;
}


#comment{
    width: 512px;
    background-color: white;
    padding-top: 10px;
}

#comment p{
    padding: 5px 20px 0px 10px;
    text-align: justify;
}

ul{
    margin: 0px;
}

.pos-post{
    list-style-type: none;
    padding: 0px;
    padding-left: 10px;
    border-top: solid #CCC 1px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.pos-post li a{
    text-decoration: none;
}

.pos-post li{
    display: inline;
    padding-left: 5px;
}

#create-event{
    width: 512px;
    background-color: white;
    padding-top: 10px;
}

#event-box{
    width: 504px;
    margin-left: 3px;
    border-left: #CCC solid 1px;
    border: #CCC solid 1px;
}

#event-box i{
    border: solid 1px #CCC;
    position: relative;
    left: 265px;
    color: #333;
}

#event-box p{
    color: #666;
}

#comment2{
    width: 512px;
    background-color: white;
    padding-top: 10px;
}

#comment2 p{
    padding: 5px 20px 0px 10px;
    text-align: justify;
}


#website{
    width: 328px;
    background-color: white;
    margin-top: 18px;
    position: relative;
    padding-top: 10px;
}

#website .website{
    padding-left: 10px;
    display: inline-block;   
}

#website .ywebsite{
    padding-left: 15px;
    margin-top: 15px;
    border-top: solid #CCC 1px;
    padding-bottom: 5px;
    text-decoration: none;
}


.h3{
    border-top: #ccc solid 1px;
    margin-top: 0px;
}


#about{
    width: 328px;
    background-color: white;
    margin-top: 10px;
    position: relative;
    padding-top: 10px;
}


.tittle-about{
    border-bottom: #ccc solid 1px;
    padding-left: 10px;
}

.adress{
    padding-left: 10px;
}

.phone{
    padding-left: 15px;
    text-decoration: none;
    border-top: solid #ccc 1px;
    padding-bottom: 5px;
 }



#apps{
    width: 328px;
    background-color: white;
    margin-top: 10px;
    position: relative;
    padding-top: 10px;
}

 .apps-tittle{
    padding-left: 10px;
    border-bottom: solid 1px #ccc;
 }

 
 .FWB{
    border-bottom: solid 1px #ccc;
    display: flex;
 }


 .livestream{
    border-bottom: solid 1px #ccc;
    display: flex;
 }

 .welcome{
    border-bottom: solid 1px #ccc;
    display: flex;
 }


 .boxleft60{
     margin-top: 5px;
     margin-left: 5px;
     margin-bottom: 5px;
     height: 80px;
     width: 160px;
     background-color: #3b5998;
 }

